.header {
    position: relative;
    z-index: 2;
    &__nav {
        position: fixed;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        // background-color: transparent;
        background-color: $primaryColor;
        padding: 20px 150px;
        span a {
            font-size: 26px;
            font-weight: 700;
            text-transform: capitalize;
            color: $white;
        }
        &-list {
            display: flex;
            gap: 40px;
            &-item {
                a {
                    font-weight: 600;
                    text-transform: capitalize;
                    color: $white;
                    transition: .5s ease;
                }
                a:hover {
                    color: $lightBlue;
                }
            }

        }
        .fa-bars {
            display: none;
        }
    }
}


@media screen and (max-width: 990px) {
    .header {
        &__nav {
            padding: 20px 30px;
        }
    }
}


@media screen and (max-width: 660px) {
    .header {
        &__nav {
            padding: 20px;
            &-list {
                position: fixed;
                width: 50%;
                height: 100vh;
                background-color: rgba($color: #000, $alpha: .9);
                top: 0px;
                left: -100%;
                text-align: center;
                flex-direction: column;
                align-items: center;
                transition: all .5s;
                padding: 60px 0 0 0;
                &-item {
                    width: 90%;
                    // margin: 10px 0 0 0;
                    padding: 10px 0;
                    border: 2px solid $lightBlue;
                    box-shadow: 2px 2px 5px $lightBlue;
                    a {
                        font-size: 14px;
                    }
                    a:hover {
                        color: $lightBlue;
                    }
                }
            }
            &-list.show {
                left: 0;
            }
            .fa-bars {
                display: block;
                font-size: 24px;
                color: $white;
                cursor: pointer;
            }
        }
    }
}

// @media screen and (max-width: 660px) {
//     .header {
//         &__nav {
//             padding: 20px;
//             &-list {
//                 top: 60px;
//             }
//             .fa-bars {
//                 font-size: 24px;
//             }    
//         }
//     }
// }