.header {
    position: relative;
    z-index: 2;
    &__nav {
        position: fixed;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        // background-color: transparent;
        background-color: $primaryColor;
        padding: 20px 150px;
        span a {
            font-size: 26px;
            font-weight: 700;
            text-transform: capitalize;
            color: $white;
        }
        &-list {
            display: flex;
            gap: 40px;
            &-item {
                a {
                    font-weight: 600;
                    text-transform: capitalize;
                    color: $white;
                    transition: .5s ease;
                }
                a:hover {
                    color: $lightBlue;
                }
            }

        }
    }
}